* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2a2a38;
    color: #FFF;
    background-image: url(./imagens/hogwarts.jpg);
    background-position: center;
    background-size: unset;
    background-repeat: no-repeat;
    background-position: fixed
}

h1 {
    color: #f88417;
}

h3 {
    color: #f88417;
}

.titulo {
    display: flex;
    margin: 0 0 20px 0;
    justify-content: center;
    text-align: center;
}

.form-perfil {
    width: 80%;
    margin: 20px 0;
    padding: 30px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 5px solid #f88417;
    border-radius: 10px;
    box-shadow: 15px 10px 5px 5px rgba(0,0,0,0.84);
    -webkit-box-shadow: 15px 10px 5px 5px rgba(0,0,0,0.84);
    -moz-box-shadow: 15px 10px 5px 5px rgba(0,0,0,0.84);
    position: relative;
}

.form-perfil input {
    display: flex;
    color: #FFF;
    width: 50%;
    height: 50px;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-bottom: 2px solid #f88417;
    outline: 0;
    position: relative;
    text-align: center;
}

.form-perfil input:focus, input:hover {
    border-bottom: 5px solid #f88417;
}

.form-perfil label {
    font-weight: 700;
}

.perfil-bruxo {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.imagem-perfil {
    width: 310px;
    height: 310px;
    background-color: #FFF;
    margin: 10px;
    border: 5px solid #f88417;
    border-radius: 50%;
}

#form-imagem {
    display: none;
}

#label-form-imagem {
    display: flex;
    width: fit-content;
    margin: 20px;
    padding: 10px;
    color: #f88417;
    background-color: #FFF;
    border: 2px solid #f88417;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#label-form-imagem:hover {
    background-color: #f88417;
    color: #FFF;
    cursor: pointer;
}

.icone-imagem-perfil {
    width: 50px;
    margin: 0 0 0 10px;
    height: 50px;
    padding: 10px;
}

.botao-perfil {
    width: 50%;
    height: 50px;
    margin: 20px;
    font-weight: 700;
    background-color: #FFF;
    color: #f88417;
    border: 2px solid #f88417;
    border-radius: 10px;
}

.botao-perfil:hover {
    background-color: #f88417;
    color: #FFF;
    border: 2px solid #FFF;
}

.brasao-casa {
    width: 100px;
    height: 100px;
    margin: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

.icone-chapeu-seletor {
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: #f88417;
    border: 2px solid #FFF;
    border-radius: 50%;
    cursor: pointer;
}

.texto-chapeu-seletor {
    font-size: 20px;
    font-weight: 600;
    color: #f88417;    
}